:root{
    --main-color: #011422;
    --main-width: 500px;
    --main-blackground-color: #f8d406;
    --main-font-family: monospace;
}

/*
------------> 1. Menu de navegación.
*/
body {
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;
    /* padding: 0 auto; */
}


nav#navegacion {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    
}
    /* ul.navegacion-items{
        width: 150%;
    } */
    .navegacion-items{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--main-blackground-color);
    }

    li{
        padding: 15px;
        font-size: 22px;
        transition: hover 0.2s linear;
        cursor: pointer;
    }
    li:hover,
    li:hover > a {
        background-color: #acaa49;
        color: #fff;
    }
    a{
        color: rgb(20, 18, 18);
        text-decoration-line: none;
        font-family: monospace;
        transition: hover 0.2s linear;
    }

    a:hover{
        transform: scale(1.15, 1.15);
        color: rgb(243, 239, 227);
    }


/*
-------------> Titulo
*/

h1{
    font-family: monospace;
    font-size: 35px;
    text-align: center;
}

img{
    position: relative;
    top: 100px;
    margin: 1% 33%;
    width:400px;
    height:400px;
    border-radius:200px;
    border: 2px solid var(--main-blackground-color);
}

/*
-------------> 3. Footer.
*/

footer{
    position: fixed;
    bottom: 0;
    background: var(--main-blackground-color);
    width: 100%;
    height:90px;
  }

  footer#final{
    display: inline;
    text-align: center;
  }

/*
---------> 4. Media Querys.
*/

@media only screen and (max-width: 720px) {
    .navegacion-items {
      justify-content: space-around;
    }
  }
  
@media only screen and (max-width: 490px) {
    .navegacion-items > li > a {
        font-size: 34px;
        padding: 5px;
        display: inline-block;
    }
}