:root{
    --main-color: #011422;
    --main-width: 500px;
    --main-blackground-color: #f8d406;
    --main-font-family: monospace;
}

body {
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;
    /* padding: 0 auto; */
}

/*
------------------> 1. Menú de navegación. 
*/
nav#navegacion {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
    .navegacion-items{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--main-blackground-color);
    }

    li{
        padding: 15px;
        font-size: 22px;
        transition: hover 0.2s linear;
        cursor: pointer;
    }
    li:hover,
    li:hover > a {
        background-color: #acaa49;
        color: #fff;
    }
    a{
        color: rgb(20, 18, 18);
        text-decoration-line: none;
        font-family: monospace;
        transition: hover 0.2s linear;
    }

    a:hover{
        transform: scale(1.15, 1.15);
        color: rgb(243, 239, 227);
    }

/*
-------------> 2. Cuerpo Form.
*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1{
    font-family: monospace;
}

form#cuerpoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border:solid 2px black; */
}
    .cuerpoform-div{
        margin-top: 10px;
    }
        .div_campo_form{
            display: flex;
            flex-direction: column;
            margin-top: 22px;
        }
            #nombre, #genero, #director, #idiomas, #puntuacion {
                margin-top: 15px;
            }
            #actoresDiv{
                display: flex;
                flex-direction: column;
            }
                #actors{
                    margin-top: 17px;
                    align-self: center;
                }

                #sinopsis{
                    margin-top: 18px;
                }
                
                #produccion{
                    margin-top: 14px;
                    width: 167px;
                }

                /* .posterImg, img{
                    display:none;
                } */
        button{
            padding: 6 132px;
            border-radius: 9px;
            margin-bottom: 30px;
            background:#6aa0cf1f;
            font-weight: bold;
        }

        button:hover{
            background-color: rgba(255, 145, 0, 0.863);
            color: white;
        }

/*
--------------> . Footer.
*/
footer{
    position: fixed;
    bottom: 0;
    background: var(--main-blackground-color);
    width: 100%;
    /* height:90px; */
  }

  footer#final{
    display: inline;
    text-align: center;
  }


/*
-------------> Media Querys.
*/

@media only screen and (max-width: 720px) {
    .navegacion-items {
      justify-content: space-around;
    }
  }
  
@media only screen and (max-width: 490px) {
    .navegacion-items > li > a {
        font-size: 34px;
        padding: 5px;
        display: inline-block;
    }
}