/*
Agradecimientos por la inspiraci칩nna de su c칩digo a Rob Wellish y a Thamara Gerigr. Por su creatividad y sus dise침os en Codepen. 
*/

:root{
    --main-color: #011422;
    --main-width: 500px;
    --main-blackground-color: #f8d406;
    --main-font-family: monospace;
}

body {
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;
    /* padding: 0 auto; */
}


nav#navegacion {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}
    .navegacion-items{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--main-blackground-color);
    }

    li{
        padding: 15px;
        font-size: 22px;
        transition: hover 0.2s linear;
        cursor: pointer;
    }
    li:hover,
    li:hover > a {
        background-color: #acaa49;
        color: #fff;
    }
    a{
        color: rgb(20, 18, 18);
        text-decoration-line: none;
        font-family: monospace;
        font-size: large;
        transition: hover 0.2s linear;
    }

    a:hover{
        transform: scale(1.15, 1.15);
        color: rgb(243, 239, 227);
    }

#cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

    .cabeceraIntro {
        margin:10px;
        font-family: 'Quicksand', monospace;
        text-align: center;
        color: rgb(1, 0, 20);
        font-size: 70px;
    }

    img.cabeceraIntro{
        height: 5px;
    }

#buscador {
    position: relative;
    background-color:var(--main-blackground-color);
    z-index: 2;
    text-align: center;
    margin: 1% 33% !important;
    padding: 10px;
    width: var(--main-width);
    border-radius:40px;
    box-shadow: -4px 5px 7px 7px #57565673 !important;
}
    #buscador:hover > .search-text{
    width:240px;
    padding:0 10px;
    }

    .search-text{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0px;
        font-size: 15px;
        transition: 0.5s;
        width: 0px;
    }
    
    input#tomarValor{
        background: none;
        border: none;
    }

.infoTitulo{
    color:var(--main-color);
    font-family: 'DM MONO', monospace;
    padding: 1% 28%;
    text-align: center;
    font-size: 35px;
    text-decoration: #272b4281;
}

#informacion{
    display: flex;
    padding: 10px ;
    color: var(--main-color);
    font-size: large;  
}
    .lista_cartas{
        border-radius: 30px 30px;
        box-shadow: -1rem 0 3rem #47495281;
        background-color: #33414d1f; 
        overflow: scroll;
    }
    /* Funciones cuando se realiza scrollbar de la p치gina. Especialmente cuando el elemento es muy grande y no entra en el ancho de la "caja"*/
        .lista_cartas::-webkit-scrollbar{
            width: 6px;
            height: 6px;
        }
        .lista_cartas::-webkit-scrollbar-thumb{
            background-color:#272b4281 ;
            border-radius: 5px;
            box-shadow: 2px, 2px, 2px hsla(0, 1%, 100%, 20), inset -2px -2px 2px rgba(197, 183, 233, 0);
        }
        .lista_cartas::-webkit-scrollbar-track{
            background: linear-gradient(90deg, #d8d8d82d, #ebe9e92d)
        }
    /* Estilo para el section*/
    .cartas{
        display: flex;
        position: relative;
        flex-direction: column; 
        height: 450px;
        width: 300px;
        padding: 1.5em;
        margin: 2em;
        min-width: 250px; 
    }

    p{
        font-weight: bold;
        text-align: justify;
        margin: 1%;
    }


    img#Poster{
        align-self: flex-start;
        height: 50%;
        width: 40%;
    }

    input{
        align-self: flex-start;
    }
footer{
    background: var(--main-blackground-color);
    height:90px;
  }

  footer#final{
    display: inline;
    text-align: center;
  }
/* @media only screen and (max-width: 720px) {
    .nav-bar-items {
      justify-content: space-around;
    }
  }
  
@media only screen and (max-width: 490px) {
    .nav-bar-items > li > a {
      i {
        font-size: 24px;
        padding: 5px;
        display: inline-block;
      } */