/*Agradecimientos por la inspiraciónna de su código a Rob Wellish y a Thamara Gerigr. Por su creatividad y sus diseños en Codepen.*/
/*
-------------- ÍNDICE ------------
1. Menú de navegación
2. Cabecera.
3. Inputs del buscador.
4  Título de al sección Información.
5. Películas guardadas.
    5.1. Espacio para las "cajas" de las cartas.
    5.2. Espacio para cada una de las cartas.
6. Footer.
7. Media Querys.
*/

:root{
    --main-color: #011422;
    --main-width: 500px;
    --main-blackground-color: #f8d406;
    --main-font-family: monospace;
}

body {
    -webkit-tap-highlight-color: transparent;
    margin: 0 auto;
    /* padding: 0 auto; */
}

/*
------------ 1. Menú de navegación.
*/

nav#navegacion {
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
    width: 100%;
}
    .navegacion-items{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--main-blackground-color);
    }

    li{
        padding: 15px;
        font-family: monospace;
        font-size: 22px;
        transition: hover 0.2s linear;
        cursor: pointer;
    }
    li:hover,
    li:hover > a {
        background-color: #acaa49;
        color: #fff;
    }
    a{
        color: rgb(20, 18, 18);
        text-decoration-line: none;
        transition: hover 0.2s linear;
    }

    a:hover{
        transform: scale(1.15, 1.15);
        color: rgb(243, 239, 227);
    }

/*
------------> 2. Cabecera: CINEMATÓN.
*/
#cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

    .cabeceraIntro {
        margin:10px;
        font-family: 'Quicksand', monospace;
        text-align: center;
        color: rgb(1, 0, 20);
        font-size: 70px;
    }

    img.cabeceraIntro{
        height: 5px;
    }

/*
-----------> 3. Inputs del buscador
*/   
#buscador {
    position: relative;
    background-color:var(--main-blackground-color);
    z-index: 2;
    text-align: center;
    margin: 1% 33% !important;
    padding: 10px;
    width: var(--main-width);
    border-radius:40px;
    box-shadow: -4px 5px 7px 7px #57565673 !important;
}
    #buscador:hover > .search-text{
    width:240px;
    padding:0 10px;
    }

    .search-text{
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0px;
        font-size: 15px;
        transition: 0.5s;
        width: 0px;
    }
    
    input#tomarValor{
        background: none;
        border: none;
        font-size: 11px;
        font-weight: bold;
    }

/*
-------> 4. Espacio dedicado al Título de la sección Información.
*/    
.infoTitulo{
    color:var(--main-color);
    font-family: 'DM MONO', monospace;
    padding: 1% 28%;
    text-align: center;
    font-size: 35px;
    text-decoration: #272b4281;
}


/*
-----------> 5. Espacio dedicado a las películas guardadas.
*/
#informacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px ;
    color: var(--main-color);
    font-size: 15px;  
}
    .lista_cartas{
        border-radius: 30px 30px;
        box-shadow: -1rem 0 3rem #47495281;
        background-color: #33414d1f; 
        overflow: scroll;
    }
    /* 
    5.1.
    Funciones cuando se realiza scrollbar de cada carta. 
    Especialmente cuando el elemento es muy grande y no entra en el ancho de la "caja"
    */
        .lista_cartas::-webkit-scrollbar{
            width: 6px;
            height: 6px;
        }
        .lista_cartas::-webkit-scrollbar-thumb{
            background-color:#272b4281 ;
            border-radius: 5px;
            box-shadow: 2px, 2px, 2px hsla(0, 1%, 100%, 20), inset -2px -2px 2px rgba(197, 183, 233, 0);
        }
        .lista_cartas::-webkit-scrollbar-track{
            background: linear-gradient(90deg, #d8d8d82d, #ebe9e92d)
        }

    /* 
    5.2.
    Estilo para el section. Es decir, para cada carta.
    */
    .cartas{
        display: flex;
        position: relative;
        bottom: 2px;
        flex-direction: column;
        align-items: center;
        height: 425px;
        width: 370px;
        padding: 0.5em;
        margin: 1em;
        min-width: 200px; 
    }

    p{
        font-weight: bold;
        text-align: justify;
        margin: 1%;
    }


    img#Poster{
        align-self: center;
        height: 50%;
        width: 40%;
        margin: 5px auto;
    }

    input.botonAmarilloClaro, input.botonNaranja, input.botonRojo {
        align-self: center;
        margin: 1px;
        padding: 5 70px;
        border-radius: 9px;
        background:#6aa0cf1f ;
        font-weight: bold;
        font-size: 11px;

    }

    input.botonAmarilloClaro:hover {
        background-color: rgba(252, 252, 0, 0.863);
    }

    input.botonRojo:hover{
        background-color: rgba(245, 16, 16, 0.863);
    }

    input.botonNaranja:hover{
        background-color: rgba(243, 161, 8, 0.863);
    }
/*
---------> 6. Espacio dedicado para el footer.
*/
footer{
    background: var(--main-blackground-color);
    height:90px;
    width: 100%;
  }

  footer#final{
    display: inline;
    text-align: center;
  }


/*
7. Espacio dedicado para las MEDIA QUERYS.
*/
@media only screen and (max-width: 720px) {
    .navegacion-items {
      justify-content: space-around;
    }
  }
  
@media only screen and (max-width: 490px) {
    .navegacion-items > li > a {
        font-size: 34px;
        padding: 5px;
        display: inline-block;
    }
}
